<div class="cart-sidebar">
    <div class="cart-loading">
        {% include 'spinner' %}
    </div>
    <div id="cart-info" class="cart-info">
        <div class="cart-empty" ng-if="cart.ItemsCount == 0">
            {{ 'general.cart_info.cart_empty_html' | t }}
        </div>
        <ul class="list-unstyled" ng-if="cart.ItemsCount > 0">
            <li ng-repeat="lineItem in cart.Items">
                <div class="remove">
                    <a href="" title="{( lineItem.Name )}" ng-click="removeLineItem(lineItem.Id)">
                        <i class="zmdi zmdi-close"></i>
                    </a>
                </div>
                <div class="list_content">
                    <a>
                        <span ng-bind="lineItem.Name"></span>
                    </a>
                    <div class="quantity">{( lineItem.Quantity )} × <span class="amount" ng-bind="lineItem.SalePrice.FormatedAmount"></span></div>
                </div>
                <figure>
                    <a class="cart_list_product_img">
                        <img ng-src="{( lineItem.ImageUrl )}" />
                    </a>
                </figure>
            </li>
        </ul>
        <div class="subtotal" ng-if="cart.ItemsCount > 0">
            <span class="title">{{ 'general.cart_info.sub_total' | t }} <span class="amount" ng-bind="cart.SubTotal.FormatedAmount"></span></span>
        </div>
        <div class="buttons" ng-if="cart.ItemsCount > 0">
            <a class="btn btn-1 btn-block ripple" href="{{ '/cart/checkout/#/customer-information' | absolute_url }}">{{ 'general.cart_info.checkout' | t }}</a>
            <a class="btn-cart" href="{{ 'cart' | absolute_url }}">{{ 'general.cart_info.view_shopping_bag' | t }}</a>
        </div>
    </div>
</div>