<div class="cart-sidebar">
  <div class="cart-loading">
    {% include 'spinner' %}
  </div>
  <div id="cart-info" class="cart-info">
    {% if cart.items == empty %}
    <div class="cart-empty">
      {{ 'general.cart_info.cart_empty_html' | t }}
    </div>
    {% else %}
    <ul class="list-unstyled">
      {% for item in cart.items %}
      <li>
        <div class="remove"><a href="javascript:;" onclick="Shopify.removeItem('{{item.id}}')" title="{{ 'general.cart_info.remove_this_item' | t }}"><i class="zmdi zmdi-close"></i></a></div>
        <div class="list_content">
          <a href="{{item.url}}">
            <span>{{ item.title }}</span>
            {% if item.product.variants.size > 1 %}
            <span class="variant_title"> - {{ item.variant.title }}</span>
            {% endif %}
          </a>
          <div class="quantity">{{ item.quantity }} × <span class="amount">{{ item.price | money }}</span></div>
        </div>
        <figure>
          <a class="cart_list_product_img" href="{{ item.url}}">
            <img ng-src="{{item.image.src | product_img_url: "50x50" }}" fallback-src="{{ item.image.src | product_img_url }}" alt="{{ item.title | escape }}" />
          </a>
        </figure>
      </li>
      {% endfor %}
    </ul>

    <div class="subtotal">
      <span class="title">{{ 'general.cart_info.sub_total' | t }} <span class="amount">{{ cart.total_price | money }}</span></span>
    </div>

    <div class="buttons">
      <a href="{{ 'cart/checkout/#/shipping-address' | absolute_url }}" class="btn btn-1 btn-block ripple">{{ 'general.cart_info.checkout' | t }}</a>
      <a href="{{ 'cart' |absolute_url }}" class="btn-cart">{{ 'general.cart_info.view_shopping_bag' | t }}</a>
    </div>
    {% endif %}
  </div>
</div>