{% if settings.collection_sidebar_filters == 'groups' %}

 <!-- {%comment%}
{% for i in (1..10) %}
{% assign tmp = 'filtering_' | append:i %}
{% if settings[tmp] %}
<div class="column">
  {% assign tmp = 'filtering_heading_' | append:i %}
  {% assign cat_item = settings[tmp] %}
  {% assign cat_item_down = cat_item | downcase %}
  {% assign tmp = 'filtering_filters_' | append:i %}
  {% assign filters = settings[tmp] | strip_newlines | split: ',' %}

 {%endcomment%}
 {%comment%}
  <div class="filter_title active">
    <span>{{ cat_item }}<i class="zmdi zmdi-caret-right"></i></span>


    {% for custom_tag in filters %}
        {% if current_tag and current_tag.value == custom_tag.value %}

            {% if aggregation.items contains custom_tag %}
            {%endcomment%}
            {%comment%}
            Старый код
            {% if current_tags contains custom_tag %}
            {%endcomment%}
            {%comment%}
            <a href="javascript:;" class="clear">{{ 'collections.general.clear' | t }}</a>
            {% break %}
        {% endif %}
    {% endfor %}

  </div>
{%endcomment%} -->

  {% unless product_search_result.aggregations.empty? %}
  {% assign current_tags = current_product_search_criteria.terms %}

  {% for aggregation in product_search_result.aggregations %}

  <div class="column">

        <div class="filter_title active">
                <span>{{ aggregation.label }}<i class="zmdi zmdi-caret-right"></i></span>

                {% for custom_tag in aggregation.items %}
                {% for c_tag in current_tags %}
                    {% if aggregation.field == c_tag.name and custom_tag.value == c_tag.value%}
                    <a href="javascript:;" class="clear">{{ 'collections.general.clear' | t }}</a>
                        {% break %}
                    {% endif %}
                {% endfor %}
                {% endfor %}
 {%comment%}
                {% for custom_tag in filters %}
                {% if current_tags contains custom_tag %}
                <a href="javascript:;" class="clear">{{ 'collections.general.clear' | t }}</a>
                {% break %}
                {% endif %}
                {% endfor %}
                {%endcomment%}
        </div>
  <div class="advanced-filter filter_container {{ aggregation.field | replace: ' ', '_' }}">
    <span class="filter_close" title="close"></span>
    <ul class="list-unstyled fields">
    <!-- {% comment %}
      {% if cat_item_down contains 'color' or cat_item_down contains 'colour' %}
        {% assign file_extension = '.png' %}

        {% for custom_tag in filters %}

            {% if current_tag and current_tag.value == custom_tag.value  %}
            <li>
              <div class="field active">
                <input type="checkbox" checked="checked" value="{{ custom_tag | handleize }}" class="hide" />
                <span class="img btooltip" title="{{ custom_tag | remove_first: cat_item | remove: '_' }}">
                    <i style="background-color: {{ custom_tag | remove_first: cat_item | remove: '_' | handle }}; background-image: url({{ custom_tag | remove_first: cat_item | remove: '_' | handle | append: file_extension | asset_url }})"></i>
                </span>
              </div>
            </li>
            {% else %}
            <li>
              <div class="field">
                <input type="checkbox" value="{{ custom_tag | handleize }}" class="hide" />
                <span class="img btooltip" title="{{ custom_tag | remove_first: cat_item | remove: '_' }}"><i style="background-color: {{ custom_tag | remove_first: cat_item | remove: '_' | handle }}; background-image: url({{ custom_tag | remove_first: cat_item | remove: '_' | handle | append: file_extension | asset_url }})"></i></span>
              </div>
            </li>
            {% endif %}

      {% endfor %}


      {% else %}
{% endcomment %} -->
        {% for custom_tag in aggregation.items %}

        {% assign tag_checked = false %}
        {% for c_tag in current_tags %}
            {% if aggregation.field == c_tag.name and custom_tag.value == c_tag.value%}
                {% assign tag_checked = true %}
                {% break %}
            {% endif %}
        {% endfor %}
        {% assign tag = custom_tag %}
        {% include 'tag-label' %}
      <!-- {%comment%}
      Старый код
      {% if collection.tags contains custom_tag %}
      {% if current_tags contains custom_tag %}
      {%endcomment%} -->
      {% if tag_checked %}
      <li>
        <div class="field label-checkbox active">
            {%comment%}
          <input type="checkbox" value="{{ custom_tag | handleize }}" class="checkbox" checked="checked" />
          <span class="name">{{ custom_tag | remove_first: cat_item | remove: '_' }}</span>
        </div>
        {%endcomment%}
      {% else %}
      <li>
        <div class="field label-checkbox">
            {%comment%}
          <input type="checkbox" value="{{ custom_tag | handleize }}" class="checkbox" />
          <span class="name">{{ custom_tag | remove_first: cat_item | remove: '_' }}</span>
        </div>
      </li>
      {%endcomment%}
      {% endif %}
          <input type="checkbox" value="{{custom_tag.value}}" class="checkbox" />
          <span class="switch"></span>
          <span class="name">{{ tag_label }}</span></span>
    </div>
    </li>

      {% endfor %}
      {%comment%}
      {% endif %}
      {%endcomment%}
    </ul>
  </div>

</div>

{% endfor %}

{% endunless %}
{% endif %}
