  {% if paginator.previous %}
  <span class="previous">
    <a href="{{ paginator.previous.url }}" title="{{ paginator.previous.title }}">&larr;</a>
  </span>
  {% endif %}

  {% for part in paginator.parts %}
  {% if part.is_link %}
  <span class="page">
    <a href="{{ part.url }}" title="">{{ part.title }}</a>
  </span>
  {% else %}
  {% if part.title == paginator.current_page %}
  <span class="page current">{{ part.title }}</span>
  {% endif %}
  {% endif %}
  {% endfor %}

  {% if paginator.next %}
  <span class="next">
    <a href="{{ paginator.next.url }}" title="{{ paginator.next.title }}">Next &raquo;</a>
  </span>
  {% else %}
  {% endif %}
