<div id="col-main" class="page-order widget-wrapper clearfix">
  <div class="crumbregion">
    <div class="myaccount"><a href="{{ 'account' | absolute_url }}">{{ 'customer.account.title' | t }}</a></div>
    {% assign created_at = order.created_at | date: "%B %d, %Y %I:%M%p" %}
    <div class="note order_date">{{ 'customer.order.date' | t: date: created_at }}</div>
  </div>

  {% if order.cancelled %}
  <div id="order_cancelled" class="flash notice">
    {% assign cancelled_at = order.cancelled_at | date: "%B %d, %Y %I:%M%p" %}
    <h5 id="order_cancelled_title">{{ 'customer.order.cancelled' | t: date: cancelled_at }}</h5>
    <span class="note">{{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason }}</span>
  </div>
  {% endif %}

  <div id="order_address" class="row group">
    <div id="order_payment" class="{% if order.shipping_address %}col-sm-6{% else %}col-sm-12{% endif %}">
      <h2 class="order_section_title">{{ 'customer.order.billing_address' | t }}</h2>
      
      <div class="wrap">
        <p class="order-status"><span class="note">{{ 'customer.order.payment_status' | t }}:</span> <span class="status status_{{ order.financial_status }}">{{ order.financial_status }}</span></p>

        <address class="address_info clearfix">
          <div class="name">
            <span class="i-author"></span>
            <span class="author">{{ order.billing_address.name }}</span>
            <span class="email">{{ order.billing_address.company }}</span>
          </div>

          <div class="address note">
            <span class="i-address"></span>

            <span class="address1">
              {{ order.billing_address.street }}
              {% if order.billing_address.city != empty %}, {{ order.billing_address.city }}{% endif %}
              {% if order.billing_address.province != empty %}, {{ order.billing_address.province }}{% endif %}
              {% if order.billing_address.country != empty %}, {{ order.billing_address.country }}{% endif %}
            </span>
            <span class="zip">{{ order.billing_address.zip}}</span>
            <span class="phone">{{ order.billing_address.phone }}</span>
          </div>
        </address>
      </div>
    </div>
    {% if order.shipping_address %}
    <div id="order_shipping" class="col-sm-6">
      <h2 class="order_section_title">{{ 'customer.order.shipping_address' | t }}</h2>
      
      <div class="wrap">
        <p class="order-status"><span class="note">{{ 'customer.order.fulfillment_status' | t }}:</span> <span class="status status_{{ order.fulfillment_status }}">{{ order.fulfillment_status }}</span></p>

        <address class="address_info clearfix">
          <div class="name">
            <span class="i-author"></span>
            <span class="author">{{ order.shipping_address.name }}</span>
            <span class="email">{{ order.shipping_address.company }}</span>
          </div>

          <div class="address note">
            <span class="i-address"></span>

            <span class="address1">
              {{ order.shipping_address.street }}
              {% if order.shipping_address.city != empty %}, {{ order.shipping_address.city }}{% endif %}
              {% if order.shipping_address.province != empty %}, {{ order.shipping_address.province }}{% endif %}
              {% if order.shipping_address.country != empty %}, {{ order.shipping_address.country }}{% endif %}
            </span>
            <span class="zip">{{ order.shipping_address.zip}}</span>
            <span class="phone">{{ order.shipping_address.phone }}</span>
          </div>
        </address>
      </div>
    </div>
    {% endif %}
  </div>

  <div class="product">
    <div class="wrap-table">
      <table id="order_details" class="table-hover">
        <thead>
          <tr>
            <th>{{ 'customer.order.details.product' | t }}</th>
            <th>{{ 'customer.order.details.sku' | t }}</th>
            <th>{{ 'customer.order.details.price' | t }}</th>
            <th>{{ 'customer.order.details.quantity' | t }}</th>
            <th>{{ 'customer.order.details.total' | t }}</th>
          </tr>
        </thead>
        <tbody>
          {% for line_item in order.line_items %}
          <tr id="{{ line_item.id }}" class="{% cycle 'odd', 'even' %}">
            <td class="product-item">
              <h4 class="product-title">{{ line_item.title | link_to: line_item.url }}</h4>
              {% if line_item.fulfillment %}
              <div class="note">
                {% assign created_at = line_item.fulfillment.created_at | date: "%b %d" %}
                {{ 'customer.order.details.fulfilled_at' | t: date: created_at }}
                {% if line_item.fulfillment.tracking_number %}
                <h4><a href="{{ line_item.fulfillment.tracking_url }}">{{ line_item.fulfillment.tracking_company }} #{{ line_item.fulfillment.tracking_number}}</a></h4>
                {% endif %}
              </div>
              {% endif %}
            </td>
            <td class="sku note">{{ line_item.sku }}</td>
            <td class="product-price">{{ line_item.price | money }}</td>
            <td class="quantity">{{ line_item.quantity }}</td>
            <td class="product-price">{{ line_item.quantity | times: line_item.price | money }}</td>
          </tr>
          {% endfor %}
        </tbody>  
        <tfoot>
          <tr class="order_summary note">
            <td colspan="4">{{ 'customer.order.details.subtotal' | t }}</td>
            <td class="product-total">{{ order.subtotal_price | money }}</td>
          </tr>   
          
          {% for discount in order.discounts %}
          <tr class="order_summary discount">
            <td colspan="4">{{ discount.code }} {{ 'customer.order.discount' | t }}</td>
            <td class="product-price2">{{ discount.savings | money }}</td>
          </tr>
          {% endfor %}
          
          {% for shipping_method in order.shipping_methods %}
          <tr class="order_summary note">
            <td colspan="4">{{ 'customer.order.shipping' | t }}</td>
            <td class="product-price2">{{ shipping_method.price | money }}</td>
          </tr>
          {% endfor %}
          
          {% for tax_line in order.tax_lines %}
          <tr class="order_summary note">
            <td colspan="4">{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</td>
            <td class="product-price2">{{ tax_line.price | money }}</td>
          </tr>
          {% endfor %}    
          
          <tr class="order_summary order_total">
            <td colspan="4">{{ 'customer.order.details.total' | t }}</td>
            <td class="product-total">{{ order.total_price | money }} {{ order.currency }}</td>
          </tr>   
        </tfoot>  
      </table>
    </div>
  </div>
</div>