<div class="cart-page container" id="cole-main">
    <div class="empty" ng-if="cart.ItemsCount == 0">
        <p>{{ 'cart.general.empty' | t }} {{ 'cart.general.continue_browsing_html' | t }}</p>
    </div>
    <div class="clearfix" ng-if="cart.ItemsCount > 0">
        <div class="row">
            <div class="col-sm-8 col-md-9 col-left">
                <div class="cart-header">
                    <div class="btn1">
                        <a href="{{ 'collections/all' | absolute_url }}">{{ 'cart.general.continue_shopping' | t }}</a>
                    </div>
                    <div class="btn2">
                        You have <span ng-bind="cart.ItemsCount"></span> item(s) in your cart
                    </div>
                    <div class="btn3">
                        <a href="" ng-click="clearCart()">{{ 'cart.general.empty_cart' | t }}</a>
                    </div>
                </div>
                <div class="cart-items">
                    <div class="cart-item" ng-repeat="lineItem in cart.Items">
                        <div class="inner">
                            <div class="cart-left tip_golder_big">
                                <a href="">
                                    <img alt="{( lineItem.Name )}" ng-src="{( lineItem.ImageUrl )}" />
                                </a>
                            </div>
                            <div class="cart-right">
                                <div class="wrap">
                                    <div class="product-title">
                                        <a href="">
                                            <span ng-bind="lineItem.Name"></span>
                                        </a>
                                    </div>
                                    <div class="cart-group cart-qty">
                                        <div class="product-price" ng-bind="lineItem.SalePrice.FormatedAmount"></div>
                                        <div class="product-qty">
                                            <div class="group-input">
                                                <input id="{( lineItem.Id )}" size="4" type="text" ng-model="lineItem.Quantity" />
                                                <span class="bar"></span>
                                            </div>
                                            <button class="btn" type="button" ng-click="changeLineItem(lineItem.Id, lineItem.Quantity)">{{ 'cart.general.update' | t }}</button>
                                        </div>
                                    </div>
                                    <a class="cart-remove" href="" title="{{ 'cart.general.remove' | t }}" ng-click="removeLineItem(lineItem.Id)">
                                        <i class="zmdi zmdi-close"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 col-right">
                <div class="widget">
                    <div class="cart-header">
                        <div class="btn2 title">
                            {{ 'cart.general.subtotal' | t }}
                        </div>
                    </div>
                    <div class="cart-items">
                        <div class="cart-item">
                            <div class="title">
                                <div class="subtotal" ng-bind="cart.SubTotal.FormatedAmount"></div>
                            </div>
                            <div id="checkout-addnote">
                                <div class="group-input">
                                    <textarea class="input" rows="3" ng-model="cart.Comment"></textarea>
                                    <span class="bar"></span>
                                    <label>{{ 'cart.general.note' | t }}</label>
                                </div>
                            </div>
                            <div class="control-group" id="checkout-proceed">
                                <button class="btn btn-1 btn-block big ripple" type="button" ng-click="outerRedirect('{{ '/cart/checkout/#/customer-information' | absolute_url }}')">{{ 'cart.general.checkout' | t }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'spinner' %}