{% layout none %}
<!DOCTYPE html>
<html>
<head>
  {% if settings.favicon %}
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/x-icon" />
  {% endif %}

  {% if settings.iphone_icon %}
  <link rel="apple-touch-icon-precomposed" href="{{ 'iphone_icon.png' | asset_url }}" />
  {% endif %}

  {% if settings.iphone_icon_retina %}
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ 'iphone_icon_retina.png' | asset_url }}" />
  {% endif %}

  {% if settings.ipad_icon %}
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ 'ipad_icon.png' | asset_url }}" />
  {% endif %}

  {% if settings.ipad_icon_retina %}
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ 'ipad_icon_retina.png' | asset_url }}" />
  {% endif %}

  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
  <link rel="canonical" href="{{ canonical_url }}" />

  {% if page_description or page_description != '' %}
  <meta name="description" content="{{ page_description }}" />
  {% endif %}
  
  <title>Please Log In</title>
  
  {% if settings.header_font == '1' %}
  <link href="//fonts.googleapis.com/css?family={{settings.header_font_1 | replace: ' ', '+'}}:300italic,400italic,500italic,600italic,700italic,800italic,300,400,500,600,700,900&subset=cyrillic-ext,greek-ext,latin,latin-ext,cyrillic,greek,vietnamese" rel='stylesheet' type='text/css'>
  {% endif %}

  {% if settings.general_font == '1' and settings.general_font_1 != settings.header_font_1 %}
  <link href="//fonts.googleapis.com/css?family={{settings.general_font_1 | replace: ' ', '+'}}:300italic,400italic,500italic,600italic,700italic,800italic,300,400,500,600,700,900&subset=cyrillic-ext,greek-ext,latin,latin-ext,cyrillic,greek,vietnamese" rel='stylesheet' type='text/css'>
  {% endif %}
  
  {{ '//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' | stylesheet_tag }}
  {{ '//cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.1.1/css/material-design-iconic-font.min.css' | stylesheet_tag }}
  
  {{ 'bootstrap.min.3x.css' | asset_url | stylesheet_tag }}
  {{ 'rt.global.scss.css' | asset_url | stylesheet_tag }}
  {{ 'rt.password.scss.css' | asset_url | stylesheet_tag }}
  
  {{ 'jquery-2.1.4.min.js' | asset_url | script_tag }}  
  {{ 'jquery.countdown.min.js' | asset_url | script_tag }}
</head>
<body class="prelaunch">
  <div class="fixed-background container border"></div>
  <div class="fixed-bottom container border"></div>
  <div id="prelaunch" class="container">
    <div id="site-logo">
      <div class="template-logo" style="margin-right:{{settings.logo_margin_right | plus:0 | append:'px'}};margin-top:{{settings.logo_margin_top | plus:0 | append:'px'}};margin-left:{{settings.logo_margin_left | plus:0 | append:'px'}};margin-bottom:{{settings.logo_margin_bottom | plus:0 | append:'px'}};">
        <a href="{{shop.url}}" title="{{ shop.name | escape }}">
          {% if settings.logo_image == "logo.png" %}
          <img class="img-responsive normal_logo" src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name | escape }}"{% if settings.logo_image_width != blank %} style="width:{{settings.logo_image_width | plus:0 | append:'px'}}"{% endif %} />
          {% else %}
          {{ settings.logo_text | escape }}
          {% endif %}

          {% if settings.logo_image == "logo.png" and settings.logo2x_image_enable %}
          <img class="img-responsive retina_logo" src="{{ 'logo2x.png' | asset_url }}" alt="{{ shop.name | escape }}" style="width:{{settings.retina_logo_width | plus:0 | append:'px'}};max-height:{{settings.retina_logo_height | plus:0 | append:'px'}}; height: auto !important;" />
          {% endif %}
        </a>
      </div>
    </div>
    <div class="password-box">
      <div class="message">
        <p>
          {{ shop.password_message }}
        </p>
      </div>

      <div class="countdown_message">{{settings.password_countdown_heading}}</div>
      <div class="countdown">
        <div class="prelaunch-countdown"></div>
        {% assign offerDay = settings.password_heading_expires | split: '-' %}
        <script type="text/javascript">
          jQuery(document).ready(function($){
            var currentDay = new Date();
            var offerDay = new Date( {{offerDay[2]}}, {{offerDay[0]}} - 1, {{offerDay[1]}} );

            if(currentDay < offerDay)
              $('.prelaunch-countdown').countdown({
                until: offerDay,
                format: 'DHMS',
                layout: '<div class="row">' +
                '{d<}<div class="col-xs-3"><div class="border"><span class="num">{dn}</span><span class="label">{dl}</span></div></div>{d>}' +
                '{h<}<div class="col-xs-3"><div class="border"><span class="num">{hn}</span><span class="label">{hl}</span></div></div>{h>}' + 
                '{m<}<div class="col-xs-3"><div class="border"><span class="num">{mn}</span><span class="label">{ml}</span></div></div>{m>}' +
                '{s<}<div class="col-xs-3"><div class="border"><span class="num">{sn}</span><span class="label">{sl}</span></div></div>{s>}' +
                '</div>'
              });
            else
              $('.prelaunch-countdown').parent().hide();
          });
        </script>
        <div class="cleafix"></div>
      </div>

      <h1 class="title">Will be opening soon...</h1>
      {% form 'storefront_password' %}
      <fieldset class="central">
        {% if form.errors %}
        <div class="alert alert-error">
          {{ form.errors | default_errors }}
        </div>
        {% endif %}
        
        <div class="group-input">      
          <input type="password" required="required" name="password" id="password" autofocus />
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Enter store using password</label>
          <button type="submit"><i class="zmdi"></i></button>
        </div>
      </fieldset>
      {% endform %}
    </div>
    {% comment %} Media Social Icons {% endcomment %}
    <div id="widget-social" class="social-icons">
      <h2 class="title">STAY SOCIAL</h2>
      <ul class="list-inline">
        {% if settings.social_icons_facebook_link != blank %}
        <li>
          <a target="_blank" href="{{ settings.social_icons_facebook_link }}" class="social-wrapper facebook">
            <span class="social-icon">
              <i class="fa fa-facebook"></i>
            </span>
          </a>
        </li>
        {% endif %}
        {% if settings.social_icons_twitter_link != blank %}
        <li>
          <a target="_blank" href="{{ settings.social_icons_twitter_link }}" class="social-wrapper twitter">
            <span class="social-icon">
              <i class="fa fa-twitter"></i>
            </span>
          </a>
        </li>
        {% endif %}
        {% if settings.social_icons_pinterest_link != blank %}
        <li>
          <a target="_blank" href="{{ settings.social_icons_pinterest_link }}" class="social-wrapper pinterest">
            <span class="social-icon">
              <i class="fa fa-pinterest"></i>
            </span>
          </a>
        </li>
        {% endif %}
        {% if settings.social_icons_google_link != blank %}
        <li>
          <a target="_blank" href="{{ settings.social_icons_google_link }}" class="social-wrapper google">
            <span class="social-icon">
              <i class="fa fa-google-plus"></i>
            </span>
          </a>
        </li>
        {% endif %}
        {% if settings.social_icons_youtube_link != blank %}
        <li>
          <a target="_blank" href="{{ settings.social_icons_youtube_link }}" class="social-wrapper youtube">
            <span class="social-icon">
              <i class="fa fa-youtube"></i>
            </span>
          </a>
        </li>
        {% endif %}
        {% if settings.social_icons_vimeo_link != blank %}
        <li>
          <a target="_blank" href="{{ settings.social_icons_vimeo_link }}" class="social-wrapper vimeo">
            <span class="social-icon">
              <i class="fa fa-vimeo-square"></i>
            </span>
          </a>
        </li>
        {% endif %}
        {% if settings.social_icons_flickr_link != blank %}
        <li>
          <a target="_blank" href="{{ settings.social_icons_flickr_link }}" class="social-wrapper flickr">
            <span class="social-icon">
              <i class="fa fa-flickr"></i>
            </span>
          </a>
        </li>
        {% endif %}
        {% if settings.social_icons_instagram_link != blank %}
        <li>
          <a target="_blank" href="{{ settings.social_icons_instagram_link }}" class="social-wrapper instagram">
            <span class="social-icon">
              <i class="fa fa-instagram"></i>
            </span>
          </a>
        </li>
        {% endif %}
        {% if settings.social_icons_tumblr_link != blank %}
        <li>
          <a target="_blank" href="{{ settings.social_icons_tumblr_link }}" class="social-wrapper tumblr">
            <span class="social-icon">
              <i class="fa fa-tumblr"></i>
            </span>
          </a>
        </li>
        {% endif %}
        {% if settings.social_icons_rss_link != blank %}
        <li>
          <a target="_blank" href="{{ settings.social_icons_rss_link }}" class="social-wrapper rss">
            <span class="social-icon">
              <i class="fa fa-rss"></i>
            </span>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</body>
</html>
