{% assign variant_tmp = product.selected_or_first_available_variant | default: product.variants.first %}
<div id="col-main">
  <div class="col-md-10" itemscope itemtype="http://schema.org/Product">
    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
    <div id="product" class="row product clearfix">
      <div class="product-gallery col-sm-6">
        <div class="inner">
          <div class="thumbnails">
            {% for image in product.images %}			
            <a class="thumbnail" href="{{ image | product_img_url }}" data-src="{{image | product_img_url }}">
			<img ng-src="{{ image | product_img_url: "50x50"  }}" fallback-src="{{ image | product_img_url }}" alt="{{product.title}}" /></a>
            {% endfor %}
          </div>

          {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
          <div class="main">
            <div class="main-img-link product-image" href="{{featured_image | product_img_url }}" title="{{product.title}}">
              <img itemprop="image" class="main-img" src="{{product.featured_image | product_img_url }}" alt="{{product.title}}" />
              {% include 'spinner' %}
            </div>
          </div>

          <div class="gallery-icon">
            <i class="fa fa-expand"></i>
          </div>
          <script>
            jQuery(document).ready(function(){
              jQuery('.gallery-icon').on('click', function(){
                var gallery = [];
                {% for image in product.images %}
                gallery.push('{{ image | product_img_url }}');
                             {% endfor %}
                             roar.showThemeGallery(gallery, jQuery(this));
                return false;
              });
            });
          </script>
        </div>
      </div>

      <div class="product-sidebar col-sm-6">
        <div class="product_item">
          <div class="inner">
            {% include 'product-breadcrumb' %}
            <div class="product-title">
              <h1 itemprop="name" content="{{ product.title }}"><a href="{{product.url | within: collection}}">{{ product.title }}</a></h1>
              {% if settings.product_sku_show %}
              <div id="sku"{% unless variant_tmp and variant_tmp.sku %} class="hidden"{% endunless %}>{{'products.product.sku' | t}} <span>{{variant_tmp.sku}}</span></div>
              {% endif %}
            </div>

            {% if settings.reviews_enable %}
            <a class="smoothscroll" href="#product-reviews-a">
              <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
            </a>
            {% endif %}

            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              <meta itemprop="priceCurrency" content="{{ shop.currency }}" />

              {% if product.available %}
              <link itemprop="availability" href="http://schema.org/InStock" />
              {% else %}
              <link itemprop="availability" href="http://schema.org/OutOfStock" />
              {% endif %}

              <div class="product-price">
                <div id="price" class="detail-price" itemprop="price">
                  {% if variant_tmp.compare_at_price > variant_tmp.price %}
                  <del class="price_compare"> {{ variant_tmp.compare_at_price | money }}</del>
                  <span class="price_percentage">-{{ variant_tmp.compare_at_price | minus: variant_tmp.price | divided_by: variant_tmp.compare_at_price | times: 100 | ceil }}%</span>
                  {% endif %}
                  <div class="price">{{ variant_tmp.price | money }}</div>
                </div>
              </div>

              <div class="sharing-btn">
                <span>{{'products.product.share' | t}}</span>
                {% include 'social-sharing' %}
              </div>

              {% if product.available %}
              <form class="product-form" id="product-form" action="{{ 'cart/add' | absolute_url }}" method="post" enctype="multipart/form-data" data-product-id="{{product.id}}">
                <div id="product-variants">
                  <select id="product-select" name="id" style="display: none;">
                    {% for variant in product.variants %}
                    {% if variant.available %}
                    <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
                    {% else %}
                    <option disabled="disabled">
                      {{ variant.title }} - {{'products.product.sold_out' | t}}
                    </option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>

                <div class="limited-edition-group">
                  {% include 'limited-edition' %}
                </div>

                <div class="quantity">
                  <div class="group-input">      
                    <input type="number" title="{{'products.product.quantity' | t}}" step="1" min="1" size="4" id="quantity" name="quantity" value="1" />
                    <span class="bar"></span>
                  </div>
                  <button type="submit" class="btn btn-1 ripple add-to-cart" name="add" id="add" data-addtocart="{{'products.product.add_to_cart' | t}}" data-unavailable="{{'products.product.unavailable' | t}}" data-soldout="{{'products.product.sold_out' | t}}">{{'products.product.add_to_cart' | t}}</button>
                </div>
              </form>
              {% if settings.allow_wishlist %}
              <div class="product-buttons">
                <div class="product-wishlist wishlist-{{product.id}}">
                  {% include 'wishlist-item' %}
                </div>
              </div>
              {% endif %}

              <div id="backorder" class="hidden">
                <span id="selected-variant"></span> {{'products.product.backordered_html' | t}}
              </div>

              {% if settings.product_payment_enabel %}
              <div class="payment_logo">
                <img src="{{'payment-logo.png' | asset_url}}" alt="" />
              </div>
              {% endif %}
              {% else %}
              <meta itemprop="price" content="{{ product.price | money }}" />

              <div id="product-actions" class="sold-out">
                <div id="price">
                  <p class="price">{{'products.product.sold_out' | t}}</p>      
                </div>
              </div>    
              {% endif %}
            </div>
          </div>
        </div>
      </div>

      <div class="product-tabs col-sm-12">
        {% include 'product-tab' %}
      </div>
    </div>
  </div>

  {% if settings.product_style == 'style1' %}
  <div class="col-md-2">
    {% include 'related-products' %}
    {% include 'recently-viewed' %}
  </div>
  {% elsif settings.product_style == 'style2' %}
  <div class="col-md-2 hidden-sm hidden-xs">
    <div id="crumbregion">
      <div class="nextprev">
        <div class="prod-dropdown">
          {% if collection.previous_product %}
          <a class="prev btooltip" title="{{'products.general.previous_product' | t}}" href="{{collection.previous_product}}"><i class="fa fa-angle-left"></i></a>
          {% assign words = collection.previous_product | split:'/' %}
          {% assign word = words.last %}

          <div class="nav-dropdown">
            <a href="{{collection.previous_product}}" data-fill-with-product="{{word}}">
              <script type="text/template"><img src="[img:medium]" title="[title]" /></script>
            </a>
          </div>
          {% else %}
          <span class="prev disable"><i class="fa fa-angle-left"></i></span>
          {% endif %}
        </div>
        <div class="prod-dropdown">
          {% if collection.next_product %}
          <a class="next btooltip" title="{{'products.general.next_product' | t}}" href="{{collection.next_product}}"><i class="fa fa-angle-right"></i></a>
          {% assign words = collection.next_product | split:'/' %}
          {% assign word = words.last %}

          <div class="nav-dropdown">
            <a href="{{collection.next_product}}" data-fill-with-product="{{word}}">
              <script type="text/template"><img src="[img:medium]" title="[title]" /></script>
            </a>
          </div>
          {% else %}
          <span class="next disable"><i class="fa fa-angle-right"></i></span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% if settings.product_style == 'style2' %}
<div class="col-sm-12">
  {% include 'related-products' %}
  {% include 'recently-viewed' %}
</div>
{% endif %}
<script>window.products.id{{product.id}} = {{product | json}};</script>
{% if settings.viewed_enable %}
<script>Shopify.Products.recordRecentlyViewed();</script>
{% endif %}